<footer class="site-footer">

		<div class="page-width site-footer__inner">


				<div class="site-footer__identity">

						<a
								class="site-footer__brand"
								href="/"
						>
								Planetary Transformation Team
						</a>

						<p>
								A
								<a href="https://www.peerservice.org/">
										PEERS
								</a>
								Empowerment Website
						</p>

						<p class="site-footer__motto">
								Dedicated to the greatest good of all who share our
								beautiful world.
						</p>

				</div>


				<p class="site-footer__image-credit">

						Background image: NASA, ESA, CSA, STScI;
						Adam Ginsburg, Nazar Budaiev and Taehwa Yoo.

						<a
								href="https://go.nasa.gov/46nwvRm"
								target="_blank"
								rel="noopener noreferrer"
						>
								Original NASA image
						</a>

				</p>

		</div>

</footer>